<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; color: white}
  body {margin: 10vh; background-color: black}
</style>

<% if @survey.present? %>
  <div class="w3-center">
    <form action="/users" class="new_user" id="new_user" method="post">
      <h1>Survey from <%= @survey.manager.email %></h1> <br>
      <h8>Created on <%= @survey.created_at %></h8>
      <br>
      <h8>This survey is identifiable (Manager will able to identify your response)</h8>
      <br><br>
      <h2>Q1. How are you feeling today? </h2>
      <br>
      <div style="padding: 10px; font-size: 50pt; background">
        <a href="http://synergi.herokuapp.com/survey/success"><input type="button" class="w3-button" value="ðŸ˜ƒ"></a>
      </div>
      <div style="padding: 10px; font-size: 50pt; background">
        <a href="http://synergi.herokuapp.com/survey/success"><input type="button" class="w3-button" value="ðŸ˜"></a>
      </div>
      <div style="padding: 10px; font-size: 50pt; background">
        <a href="http://synergi.herokuapp.com/survey/success"><input type="button" class="w3-button" value="ðŸ˜Ÿ"></a>
      </div>
    </form>
  </div>

<% else %>
  <h1 style="text-align: center">404 Not Found, Invalid Link</h1>
<% end %>	