<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; color: white}
  body {margin: 10vh; background-color: black}
</style>

  <div class="w3-center">
    <form action="/users" class="new_user" id="new_user" method="post">
      <h1>Thank you! Your response has been recorded.</h1> <br>
    </form>
  </div>