<style>
body {
    background: white;
}
.container{
  background: #262728;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-top: 8%;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

.note_nav {
    display: flex;
}
</style>

<%= render partial: "account_header/header" %>

<div class="container card bg-light mb-3">
    <br />
    <h1>Editing Employee</h1>
    <br />

    <%= render "form", employee: @employee %>

    <br />
    <div class="note_nav">
        <%= link_to "Display", @employee, style: "color: black; padding: 0 10px;" %> <p> | </p>
        <%= link_to "Cancel", employees_path, style: "color: black; padding: 0 10px;" %>
    </div>
    <br />
</div>