<style>
body {
    background: white;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-top: 8%;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: black !important;
}
</style>

<%= render partial: "account_header/header" %>

<div class="container card bg-light mb-3">
    <br />
    <h1>New Employee</h1>
    <br />

    <%= render "form", employee: @employee %>

    <br />
    <%= link_to "Cancel", employees_path, class: "btn btn-secondary" %>
    <br />
</div>