<div class="chart-<%= survey.id %>" style="height: 400px; width: 400px; text-align: center; color: #fff; line-height: 300px; font-size: 14px; 
  font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px; display: flex">
    <canvas width="1162" height="375" class="chartjs-render-monitor" style="display: block; height: 300px; width: 930px;">
</div>
<script>
    const chartData = <%= MoodResponseChartBuilder.new(mood_survey: survey).pie_chart_data %>;
    new Chartkick.PieChart(document.querySelector('.chart-<%= survey.id %>'), chartData, {});
</script>