<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <style>
    body {
        font 30px Ubuntu, sans-serif;
        line-height: 2.0;
        color: #000000;
    }

    p {
        font-size: 16px;
    }

    .margin {
        margin-bottom: 45px;
    }

    .bg-1 {
        background-color: #1abc9c; /* mint green */
        color: #ffffff;
    }

    .bg-2 {
        background-color: #bc631a; /* wood brown */
        color: #ffffff;
    }

    .bg-3 {
        background-color: #ffffff;
        color: #555555;
    }

    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    
    .navbar-nav  li a:hover {
        color: #1abc9c !important;
    }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-default">
        <div class="conatiner">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href='#'>Navigation</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">TEAM</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid bg-1 text-center">
        <h1 class="margin">About Syngeri</h1>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h2 class="margin">Our Mission</h2>
        <p>
            We are creating an application that will allow managers to have simple and meaningful insight into their teams’ synergy and performance. Employees will be able to provide both identified and anonymized feedback about how well they’re working with their fellow team members. As a manager, you will be able to send your teams reminders at regular intervals so you can monitor their trends over time. You can observe these trends and use them to make decisions regarding the division of labor or redistribute members if needed.
        </p>
    </div>

    <yield>
  </body>
</html>