<h1>FAQs</h1>
<h2>Q1. What is Synergi?</h2>
<p>Synergi is a platform where managers can send out surveys/quiz to employees, 
and collect meaningful insight into their teams&apos; synergy and performance. </p>