<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
</style>
<div class="w3-dark-grey w3-display-middle w3-center" style="width:300px; height:300px">
    <h2>Log In</h2>
    <form>
        <label for="email">Email Address</label><br>
        <input type="text" id="email" placeholder="Email Address" required><br>
        <label for="pass">Password</label><br>
        <input type="password" id="pass" placeholder="Password" required><br><br>
        <input type="submit" value="LogIn" class="w3-black w3-button">
    </form>
    <p><a href="">Don't Have an Account?</a></p>
</div>
