<!DOCTYPE html>
<html>
    <body>
        <h2>Cambria Tolsma</h2>
        <ol>
            <li>Team Lead</li>
        </ol>
        <h2>Rucha Kolhatkar</h2>
        <ol>
            <li>Team Scribe</li>
        </ol>
        <h2>Rain Wang</h2>
        <h2>Kyle Gusdorf</h2>
        <h2>Hill Xiong</h2>
    </body>
</html>