<fieldset>
  <b style="color: black;">Question</b>
  <%= q.hidden_field :_destroy %>
  <%= link_to(" (Remove)", "#", class: "remove-fields") %>
  <br />
  <span style="color: black;">Prompt: </span><%= q.text_field :prompt %>
  <br />
  <br />
  <span style="color: black;">Type: </span><%= q.select :question_type, options_for_select([["Mood", "mood"]], "mood") %>
  <br />
  <br />
</fieldset> 