<fieldset>
  <b style="color: white;">Question</b>
  <%= q.hidden_field :_destroy %>
  <%= link_to(" (Remove)", '#', class: 'remove-fields') %>
  <br />
  <span style="color: white;">Prompt: </span><%= q.text_field :prompt %>
  <br />
  <br />
  <span style="color: white;">Type: </span><%= q.select :question_type, options_for_select([['Mood', 'mood']], 'mood') %>
  <br />
  <br />
</fieldset> 