<style>
body {
    background: white;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-top: 8%;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

.note_nav {
    display: flex;
}
</style>

<%= render partial: "account_header/header" %>

<div class="container card bg-light mb-3">
    <br />
    <h1>Editing Survey</h1>
    <br />

    <%= render "form", survey: @survey %>

    <br />
    <div class="note_nav">
        <%= link_to "Cancel", surveys_path, class: "btn btn-secondary" %>
    </div>
    <br />
</div>