<style>
body {
    background: black;
}
.container{
  background: #262728;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-top: 8%;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
}

.note_nav {
    display: flex;
}
</style>

<%= render partial: 'account_header/header' %>

<div class="container">
    <br />
    <h1>Editing Survey</h1>
    <br />

    <%= render 'form', survey: @survey %>

    <br />
    <div class="note_nav">
        <%= link_to 'Display', @survey, style: "color: white; padding: 0 10px;" %> <p> | </p>
        <%= link_to 'Cancel', surveys_path, style: "color: white; padding: 0 10px;" %>
    </div>
    <br />
</div>